.ps-card {
	width: 200px;
	height: 300px;
	position: relative
}
.ps-type {
	width: 0.8em;
	height: 0.8em;
	border-radius: 50%;
	margin-left: 5px;
	margin-right: 5px;
	border: 1px solid black
}
.ps-name {
	float: left
}
.ps-image-area {
	text-align: center;
	clear: both;
	border: 1px solid black;
	padding: 2px;
	clear: both
}
.ps-image {
	height: 100px
}
.ps-move-damage, .ps-topright, .ps-move-recoil {
	float: right
}
.ps-info {
	font-size: 80%;
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px
}
.ps-move {
	padding-top: 10px;
	clear: both
}
.ps-card-footer {
	position: absolute;
	bottom: 0px;
	display: flex;
	justify-content: space-between;
}
.ps-card-cell {
	padding: 7px
}
table {
	border-collapse: collapse
}
